extends layout

block content
  div.container
    include navbar
    div.row
      div.span12
        //img.img-rounded(data-src="holder.js/940x300")
        img.img-rounded(src="/img/superint-home.jpg")
    h3.text-info= headline
    
    div.form-group
        h4.span3 邮箱：
        ul.span9
            li 销售： sales@superint.us
            li 客服：cs@superint.us
            li 人力：hr@superint.us
            li 其他：info@superint.us
        
        
    div.form-group
        h4.span12 微信号： superint
        
    div.form-group
        h4.span12 地址：江苏省宜兴市屺亭街道荆邑北路109号宜兴创业园D9

    div.form-group
        h4.span12 电话：18918960529
        
        


