extends layout

block content
  div.container
    h1.muted= title
    include navbar
    div.row
      div.span12
        //img.img-rounded(data-src="holder.js/940x300")
        img.img-rounded(src="/img/joyo-home.jpg")
    div.btn-group
      button.btn.locale(locale='ch') 中文
      button.btn.locale(locale='en') English
    script
      $('.locale').click(function(){
      $.post('/', {locale: $(this).attr('locale')}, function(){
          document.location.reload()
        })
      })

    paragraph = {headline:pageContent.headline, lines:pageContent.paragraphs}
    h4.muted= pageContent.line0
    include paragraph
    strong= pageContent.line1
