doctype 5
html
  head
    title= title
    //link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/my.css')
    script(type='text/javascript', src='http://code.jquery.com/jquery.js')
    script(type='text/javascript', src='/javascripts/bootstrap.min.js')
  body
    div.container
      div.masthead
        h1.muted Boog's Blog
        include navbar
                
      div.jumbotron
        block content
