doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/my.css')
    script(type='text/javascript', src='http://code.jquery.com/jquery.js')
    script(type='text/javascript', src='/javascripts/bootstrap.min.js')
    script(type='text/javascript', src='/javascripts/holder.js')
  body
    div.container
      div.masthead
        h1.muted= title
        include navbar

      div.row
        div.span12
          //img.img-rounded(data-src="holder.js/940x300")
          img.img-rounded(src="/img/joyo-home.jpg")

      div.jumbotron
        block content
