extends layout

block content
  div.container
    h1.muted= title
    include navbar
    div.row
      div.span12
        //img.img-rounded(data-src="holder.js/940x300")
        img.img-rounded(src="/img/joyo-home.jpg")

    paragraph = {headline:pageContent.headline, lines:pageContent.paragraphs}
    include paragraph
